# Logs
logs/
*.log
npm-debug.log*

# Build outputs
dist/

# Vite cache
.vite/

# TypeScript
*.tsbuildinfo

# IDE and editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Miscellaneous dev files
/src/assets/library
TODO.md

# Frontend-specific
src/assets/*.generated.*
src/styles/*.css.map

# Backend-specific
server/**/*.js.map
server/**/*.d.ts

# Runtime data
pids/
*.pid
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.*

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Output of 'npm pack'
*.tgz

# Parcel cache
.cache/
.parcel-cache

# Next.js build output (if applicable)
.next/
out/

# Vitepress cache and build output (if applicable)
**/.vitepress/cache
**/.vitepress/dist