body {
   background-color: var(--black);
 }
 
#root {
   align-items: center;
   justify-content: center;
   text-align: center;
 } 

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  --primary-color-dark: #008080;
  --primary-color-light: #7fffd4;

  --secondary-color-dark: #a0522d;
  --secondary-color-light: #ffa500;

  --accent-color: #ffff00;
  
  --white: #fff;
  --gray-200: #e9ecef;
  --gray-400: #ced4da;
  --gray-600: #6c757d;
  --gray-800: #343a40;
  --black: #000;
  }
  